.login-d-flex{
    display: flex;
    flex-direction: row;
}

.login-d-flex-col{
    display: flex;
    flex-direction: column;
}

.login-text-center{
    text-align: center;
}

.login-w-80{
    width: 80%;
}

.login-flex-1{
    flex:1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.login-input {
  caret-color: red;
}

.login_main_div{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  overflow-x: hidden;
}

.login-container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("/public/icons8-stats-96.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

.login-label, .login-input, .login-button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.login_image{
  height: 85%;
  width: 100%;
  margin-left: 4rem;
}

.login-mt-10{
  margin-top: 3rem;
}

.login-label {
  margin-bottom: 4px;
}

.login-label:nth-of-type(2) {
  margin-top: 12px;
}

.login-input::placeholder {
  color: gray;
}

.login-input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.login-button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
.login-gap-2{
    gap: 7rem;
}
.login-ruby{
  display: ruby-text;
}






@media(max-width:850px){
  .login_image_div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login_image{
    width:60%;
    height: 40%;
  }
}
@media (max-width:780px) {
  .login_image_div{
    display: none;
  }
}